<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../ev-widget-behavior/ev-widget-behavior.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="ev-ajax">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <iron-ajax
        auto="{{auto}}"
        id="ajaxRequest"
        body={{request}}
        method={{method}}
        content-type="{{contentType}}"
        handle-as="{{handleAs}}"
        url="[[_selectUrl(baseUrl, resource, proxy)]]"
        on-response="_handleResponse"
        on-error="_handleError"
        debounce-duration="500">
      </iron-ajax>
  </template>

  <script>
    /**
     * `ev-ajax`
     * A component which makes a ajax requests tight coupled to EValue's API
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EvAjax extends EvWidgetBehavior(Polymer.Element) {
      static get is() { return 'ev-ajax'; }
      static get properties() {
        return {
          /* The EValue API resource you wish to call */
          resource: String,
          /* The proxy endpoint you wish to call */
          proxy: String,
          /* The type of content you wish to send */
          contentType: {
            type: String,
            value: 'application/json'
          },
          /* HTTP Request Method */
          method: {
            type: String,
            value: 'POST'
          },
          /**
           * Specifies what data to store in the `response` property, and to deliver as `event.detail.response`
           * in `response` events.
           */
          handleAs: {
            type: String,
            value: 'json'
          },
          /**
           * Contains the query parameters that append to the URL when generating a request
           * This should be used when you are making a "GET" request. For "POST"
           * requests you should use the request property.
           */
          params: Object,
          /** Automatically performs the ajax request as soon as the url or 'params' change */
          auto: {
            type: Boolean,
            reflectToAttribute: true,
            value: false
          }
        };
      }

      /**
       * @private
       * Provides the appropriate endpoint for the request
       * depending if a proxy endpoint is provided.
       * @param {String} baseURL
       * @param {String} resource
       * @param {String} proxy
       * @return {String}
       */
      _selectUrl(baseUrl, resource, proxy) {
        let apiURL = baseUrl + resource;
        if (!resource) {
          console.warn('resource path for url is not provided');
        } else {
          let validURL = this._isValidURL(apiURL);
          if (!validURL) {
            console.error('EValue API Request URL ' + apiURL + ' is not valid!');
          }
        }
        if (proxy) {
          apiURL = proxy;
        }
        return apiURL;
      }

      ready() {
        super.ready();
        this._configureIronAjax();
      }

      /**
       * Performs an AJAX request to the specified URL.
       * @return {!IronRequestElement}
       */
      generateRequest() {
        return this.$['ajaxRequest'].generateRequest();
      }

      /**
       * @private
       * Configure the ajax request
       */
      _configureIronAjax() {
        const ironAjax = this.$['ajaxRequest'];
        if (this.method === 'GET' && this.params) {
          ironAjax.params = this.params;
        }
        if (!this.proxy) {
          ironAjax.headers =  this.headers;
        }
      }

      /**
       * @private
       * Check the validity of EValue API Request URL
       * @param {String} URL
       * @return {Boolean}
       */
      _isValidURL(URL) {
        const urlRegex = new RegExp('https:\/\/api.evalueproduction.com\/([a-zA-Z](-)?)+\/(([0-9]+[.]){2}[0-9]+)\/[a-zA-Z]*\/[a-zA-Z]+');
        let valid = URL.match(urlRegex).length > 0;
        return valid;
      }

      _handleResponse(event) {
        this.dispatchEvent(new CustomEvent('success', { composed: true, detail: {response: event.detail.response}}));
      }

      _handleError(event) {
        this.dispatchEvent(new CustomEvent('api-error', { composed: true, detail: {error: event.detail.error}}));
      }
    }

    window.customElements.define(EvAjax.is, EvAjax);
  </script>
</dom-module>
